<h1>Data Science Tools and Ecosystem</h1>

<h2>In this notebook, Data Science Tools and Ecosystem are summarized.</h2>

<b>Objectives:</b>
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List Data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. SciPy
4. Tensorflow
5. Keras

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr><td>Apache Spark</td></tr>
    <tr><td>R</td></tr>
    <tr><td>Jupyter Notebook</td></tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200/60 #his will convert 200 minutes to hours by diving by 60

3.3333333333333335

<H2>Author:</H2
<p>Sandeep A Menon</p>